ul,
li,
ol {
  list-style: none;
}

ol,
ul {
  padding-left: 1em !important;
}

* {
  font-family: "Saira", "Noto Sans JP", sans-serif;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
}
