// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;


// color
// $themeColorMain: #D2F3EB;
$themeColorMain: #D2F3EB;
$white:#ffffff;
$darkgray: #333333;
// font weight
$thin: 100;
$regular: 400;
$bold: 700;


